

/* Content */
body{
    font-family: "calibri", "Source Sans Pro", sans-serif;
    font-size: 14px;
    min-height: 100%;
    background-color: #e9ebee;
}

hr{
    position: relative;
    margin-top: 10px;
    margin-bottom: 10px;
    border-color: #d6d6d6;
    pointer-events: none;
}
.hide-ref:after{
    font-family: FontAwesome;
    font-style: normal;
    font-weight: normal;
    text-decoration: inherit;
    display: block;
    cursor: pointer;
    padding: 0 5px;
    background-color: #fff;
    position: absolute;
    right: 0;
    bottom: -7px;
    pointer-events: all;
}
.hide-ref:after{
    content: '\f102';
}
.show-ref:after{
    content: 'Show References  \f103';
    background-color: #fff;
    border-radius: 3px;
    border: 1px solid #d6d6d6;
}

.panel, .auth-box, .breadcrumb-wrapper{
    -webkit-box-shadow : 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
    -moz-box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
	box-shadow : 0 0 2px 0 rgba(0, 0, 0, 0.12), 0 2px 2px 0 rgba(0, 0, 0, 0.24);
}

.valign-middle{
    vertical-align: middle !important;
}

.offcanvas-active #wrapper .main{
    left: 231px;
}

#wrapper .main{
    background-color: inherit;
    min-height: 100%;
}

.hidden{
    display: none;
}

.label-normal{
    font-weight: 300;
}

.add-padding-left{
    padding-left: 10px;
}

.no-padding-left{
    padding-left: 0;
}
.no-padding-right{
    padding-right: 0;
}
.no-padding-bottom{
    padding-bottom: 0;
}
.no-margin{
    margin: 0;
}
.no-margin-top{
    margin-top: 0;
}
.no-margin-bottom{
    margin-bottom: 0;
}

/*.tab-pane .control-label{
    padding-top: 3px !important;
}*/

.fancy-radio{
    display: inline-block;
    margin-top: 8px;
    margin-bottom: 3px;
}

.ref-invoice{
    margin: 5px 10px 0 0;
}

.main-content{
    padding: 0 0 15px;
}

.tabs-close{
    margin-left: 10px;
}
.tabs-close:hover{
    color: #F9354C;
}

.panel .panel-heading{
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 1px solid #d6d6d6;
    background-color: #2B333E;
    color: #fff;
}
.panel .table > thead > tr > th:first-child,
.panel .table > thead > tr > td:first-child,
.panel .table > tbody > tr > td:first-child,
.panel .table > thead > tr > th:last-child,
.panel .table > thead > tr > td:last-child,
.panel .table > tbody > tr > td:last-child{
    padding-left: 3px
}
.panel .panel-body {
    min-height: 440px;
    padding: 15px;
}
.panel .panel-footer {
    padding: 10px 15px;
}

td > .btn{
    padding: 3px 8px;
}
.add-charge, .rem-charge,
.add-kar, .rem-kar,
.add-reimburse, .rem-reimburse,
.add-rc, .rem-rc,
.add-terms, .rem-terms,
.add-terms-reimburse, .rem-terms-reimburse{
    padding: 5px 8px;
}

.nav-tabs > li:not(.tabs-tab-new){
    text-align: center;
    min-width: 170px;
}
.nav-tabs > li > a{
    color: #fff;
    font-weight: 600;
    background-color: #2B333E;
}
.nav-tabs > li:last-child > a{
    margin-right: 0;
}
.nav-tabs > li > a:hover{
    background-color: #546378;
    border: 1px solid #546378;
    border-bottom: none;
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:focus, .nav-tabs > li.active > a:hover{
    outline: none;
}

.nav-tabs-2 > li{
    width: 50%;
}
.nav-tabs-3 > li{
    width: 33.333333%;
}

.btn-create-master{
    position: absolute;
    top: 5px;
    right: 25px;
}

.filter-search{
    display: none;
}

.detail-box, .filter-search{
    padding-bottom: 10px;
    margin-bottom: 15px;
    border-bottom: 1px solid #d6d6d6;
}

.has-x-mark{
    position: relative;
}
.x-mark{
    position: absolute;
    right: -3px;
    bottom: 0;
    font-weight: 300;
}
.x-mark-table{
    position: absolute;
    right: 6px;
    font-weight: 300;
}

.fa-custom-remove{
    color: #F9354C;
    cursor: pointer;
}
.fa-custom-add{
    color: #337ab7;
    cursor: pointer;
}
/* End Content */

/* Table */

.table{
    width: 100% !important;
}
.table > thead td{
    font-weight: 600;
}

.dashed-bottom{
    border-bottom: 1px dotted #d6d6d6 !important;
}

.detail-table > tbody > tr > td,
.charge-table > tbody > tr > td,
.reason-table > tbody > tr > td,
.invoice-table > tbody > tr > td,
.table-detail > tbody > tr > td{
    padding: 3px;
}
.charge-table > thead > tr > td,
.invoice-table > thead > tr > td{
    padding-left: 3px !important;
    padding-right: 3px !important;
}
.charge-table > tbody > tr > td:first-child,
.invoice-table > tbody > tr > td:last-child{
    font-weight: 600;
}
.charge-table td:first-child{
    padding-left: 3px !important;
}
.charge-table td:last-child{
    padding-right: 3px !important;
}

.request-table th:first-child{
    width: 1% !important;
}
.request-table th:nth-child(2),
.request-table th:nth-child(7){
    width: 2% !important;
}
.request-table th:nth-child(3){
    width: 10% !important;
}
.request-table th:nth-child(4){
    width: 10% !important;
}
.request-table th:nth-child(5),
.request-table th:nth-child(6){
    width: 15% !important;
}
.request-table th:nth-child(8),
.request-table th:nth-child(9){
    width: 5% !important;
}
.request-table th:nth-child(10),
.request-table td:nth-child(10),
.request-table th:nth-child(11),
.request-table td:nth-child(11),
.request-table th:nth-child(12),
.request-table td:nth-child(12){
    text-align: right;
}
.request-table th:last-child,{
    width: 3% !important;
}

.table-borderless > tbody > tr > td{
    border: none;
}
.detail-table td:first-child{
    font-weight: 600;
    padding-left: 0 !important;
    width: 38%;
}
.detail-table td:last-child{
    padding-left: 15px !important;
    padding-right: 0 !important;
    width: 60%;
}

.reason-table td:first-child{
    font-weight: 600;
    padding-left: 0 !important;
    width: 11.8%;
}
.reason-table td:last-child{
    padding-left: 15px !important;
    padding-right: 0 !important;
    width: 88%;
    font-weight: 600;
}

td.td-input{
    padding-top: 2px !important;
    padding-bottom: 2px !important;
}
td.td-input .input-sm{
    padding-top: 2px;
    padding-bottom: 2px;
    height: auto;
}

.table-responsive{
    position: relative;
}

.btn-detail{
    display: inline-block;
    border:1px solid #d6d6d6;
    cursor: pointer;
    border-radius: 50%;
    padding: 5px 8px;
    transition: all 0.1s linear;
}
.btn-detail-open-text:after{
    content: 'Tutup Detail';
}
.btn-detail-close-text:after{
    content: 'Lihat Detail';
}
.btn-filter-search{
    border:1px solid #d6d6d6;
    cursor: pointer;
    position: absolute;
    right: 210px;
    top: 0;
    z-index: 2;
    border-radius: 50%;
    padding: 5px 8px;
    transition: all 0.1s linear;
}
.btn-filter-search:hover, .btn-detail:hover,.btn-active{
    background-color: #00AAFF;
    border-color: #00a0f0;
    box-shadow: 0px 1px 2px 0 rgba(0, 0, 0, 0.2);
    color: #fff;
}
.btn-vs {
    padding:1px 5px;
    font-size:11px;
    line-height:1.5;
    border-radius:5px;
    margin-left: 10px;
}

.table-fixed{
    table-layout: fixed;
}

td > input[type='checkbox']{
    margin-left: 0 !important;
}

.table-detail td:first-child{
    font-weight: 600;
    padding-left: 0 !important;
    width: 20%;
}
.table-detail td:last-child{
    padding-left: 15px !important;
    padding-right: 0 !important;
    width: 79%;
}

.td-file{
    position: relative;
}
.td-file > span{
    overflow: hidden;
    position: absolute;
    top: 3px;
    left: 3px;
    bottom: 3px;
    width: 25px;
    opacity: 0;
}
.td-file > span > input{
    cursor: pointer;
}

.table-syarat td:first-child,
.table-syarat td:last-child{
    width: 4%;
}
.table-syarat td:nth-child(3),
.table-syarat td:nth-child(4){
    width: 5%;
}
.table-syarat tr:nth-child(even){
    background-color: #f9f9f9;
}
.table-syarat ul{
    padding-left: 20px;
    margin-bottom: 0;
}

td > .btn-xxs{
    padding: 0 4px;
}

.row-hidden{
    display: none;
}
/* End Table */

/* Form */

.form-group{
    margin-bottom: 10px;
}
.form-group.margin-bottom{
    margin-bottom: 15px;
}

input.input-sm{
    padding: 5px;
}

select.input-sm
{
    font-size: 12px;
    padding: 5px 3px;
}

.input-group-addon{
    border: 1px solid #d6d6d6;
}

.partymeas input, .partymeas select {
    float: left;
    width: 45%;
}
.partymeas span{
    float: left;
    width: 10%;
}
.partymeas-addon{
    padding: 9px 0;
    font-size: 12px;
    font-weight: 400;
    line-height: 1;
    color: #555;
    text-align: center;
}
/*End Form*/

/* Modal */

.modal-big{
    width: auto;
    max-width: 1028px;
}
.modal-small{
    width: auto;
    max-width: 400px;
}

.modal-header{
    padding: 10px 25px;
    background-color: #2B333E;
    color: #fff;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}
.modal-header > .close{
    color: #fff;
    opacity: .5;
    margin-top: 0;
}
.modal-header > .close:hover{
    opacity: 1;
}

.modal-footer {
    padding: 10px 15px;
}

/* End Modal */

/* Radio slider */
.switch-slider {
  display: inline-block;
  vertical-align: middle;
  position: relative;
  height: 26px;
  width: 150px;
  background: rgba(0, 0, 0, 0.15);
  border-radius: 3px;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.3), 0 1px rgba(255, 255, 255, 0.1);
}

.switch-label {
  position: relative;
  z-index: 2;
  float: left;
  width: 75px;
  line-height: 26px;
  font-size: 11px;
  color: rgba(0, 0, 0, .5);
  text-align: center;
  cursor: pointer;
  margin-bottom: 0;
}
.switch-label:active {
  font-weight: bold;
}

.switch-label-off {
  padding-left: 2px;
}
.switch-label-on {
  padding-right: 2px;
}

.switch-input {
  display: none;
}
.switch-input:checked + .switch-label {
  font-weight: bold;
  color: #ffffff;
  -webkit-transition: 0.15s ease-out;
  transition: 0.15s ease-out;
  transition-property: color, text-shadow;
}
.switch-input:checked + .switch-label-on ~ .switch-selection {
  left: 77px;
  background-color: #41B314;
  border: 1px solid #3ca512;
  /* Note: left: 50%; doesn't transition in WebKit */
}

.switch-selection {
  position: absolute;
  z-index: 1;
  top: 2px;
  left: 2px;
  display: block;
  width: 70px;
  height: 22px;
  background-color: #d9534f;
  border-color: #d43f3a;
  border-radius: 4px;
  -webkit-transition: left 0.15s ease-out;
  transition: left 0.15s ease-out;
}
/* End Radio Slider */

/* Responsive */

@media only screen and (min-width: 768px){
    .form-horizontal .control-label{
        text-align: left;
    }
    .label-right{
        text-align: right !important;
    }
}

@media only screen and (min-width: 1025px){
    #wrapper .main{
        width: calc(100% - 230px);
    }

    .ref-invoice-wrap{
        padding-left: 5.6em;
    }

    .ref-invoice{
        display: inline-block;
    }
}

.text-thin {
    font-weight: 400;
}
/* End Responsive */